<h1 class="food_title">Public Recipes</h1> </br>

<% @recipes.each do |recipe| %>
    <div class="public_recipes">
    <ul class="recipe_name">
    <li><%= recipe.name %></li>
    <li>by <%= recipe.user.name %></li>
    </ul>
    <ul class="recipe_total">
    <li>Total food items: <%= recipe.recipe_foods.count %></li>
    <li>Total price:</li>
    </ul>
  </div>
  <% end %>