<h1 class="food_title">Shopping List</h1>

<table id="foods">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% @foods.each do |food| %>
    <tr id="<%= dom_id food %>">
      <td class="table_data">
      <%= food.name %>
      </td>
      <td class="table_data"><%= food.quantity %></td>
      <td class="table_data">Price</td>
    </tr>
  <% end %>
  </table>