body {
  font-family: 'poppins', sans-serif;
}

header {
  display: flex;
  width: 100%;
  background: none;
  padding: 0 20px;
}

nav {
  display: flex;
  width: 100%;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
}

.nav_list li {
  list-style: none;
}

.nav-title {
  font-size: 35px;
  text-decoration: none;
  color: black;
  height: 30px;
  font-family: "Philosopher", sans-serif;
}

.nav-item {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: red;
}

.nav_items {
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: flex-end;
  gap: 30px;
}

.nav-btn {
  border-radius: 15px;
  font-size: 14px;
  padding: 6px 8px;
  width: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  cursor: pointer;
}

.nav-btn:hover {
  color: red;
  background-color: white;
  border: 2px solid red;
  padding: 4.5px 8px;
  font-size: 15px;
}

.nav_name {
  font-size: 25px;
  padding-left: 20px;
  text-decoration: none;
}

.sign_out {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
  height: 35px;
}
